.button{
    border: 0;
    background-color: rgb(156, 158, 158);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.button:hover{
    background-color: rgb(159, 157, 155);
}