.button{
    border: 0;
    background-color: #7C7A80;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.button:hover{
    background-color: #98959e;
}

.zeroButton {
    
}